/**
 * @file 通用 mixins for styles/variables
 */

// 主题选择器 mixin
@mixin dark-theme {
    [data-local-theme][data-theme='dark'],
    :root[data-theme='dark'] {
        @content;
    }
}

@mixin light-theme {
    [data-local-theme][data-theme='light'],
    :root {
        @content;
    }
}
