// 包含深色界面和浅色界面中所有应用的中性颜色
// 标注灰度的目的: 为了快速出图, 设计师会把颜色标成带透明度的(但实际是不透明的颜色), 需要我们把其转为十六进制非透明色。
// 注意⚠️: 不要直接在外部用这个scss变量!!!

// 注:
// 这些“灰度”变量实际上是通过对黑色（#000000）加不同不透明度（opacity）叠加在白色（#ffffff）上得到的。
// 例如2%灰度为rgba(0, 0, 0, 0.02),
// result = 前景色 * alpha + 背景色 * (1 - alpha) = 背景色 * (1 - alpha)
// R = 255 * (1 - 0.02) = 255 * 0.98 = 249.9 ≈ 250, 250 的十六进制是 fa, G、B同理
// 所以结果是 #fafafa。
$neutral_ff: #ffffff; // 0% 灰度
$neutral_fa: #fafafa; // 2% 灰度
$neutral_f5: #f5f5f5; // 4% 灰度
$neutral_f0: #f0f0f0; // 6% 灰度
$neutral_eb: #ebebeb; // 8% 灰度
$neutral_e5: #e5e5e5; // 10% 灰度
$neutral_d9: #d9d9d9; // 15% 灰度
$neutral_cc: #cccccc; // 20% 灰度
$neutral_b2: #b2b2b2; // 30% 灰度
$neutral_99: #999999; // 40% 灰度
$neutral_80: #808080; // 50% 灰度
$neutral_73: #737373; // 55% 灰度
$neutral_66: #666666; // 60% 灰度
$neutral_59: #595959; // 65% 灰度
$neutral_4d: #4d4d4d; // 70% 灰度
$neutral_42: #424242; // 74% 灰度
$neutral_3d: #3d3d3d; // 76% 灰度
$neutral_38: #383838; // 78% 灰度
$neutral_33: #333333; // 80% 灰度
$neutral_2e: #2e2e2e; // 82% 灰度
$neutral_29: #292929; // 84% 灰度
$neutral_24: #242424; // 86% 灰度
$neutral_1f: #1f1f1f; // 88% 灰度
$neutral_1a: #1a1a1a; // 90% 灰度
$neutral_0d: #0d0d0d; // 95% 灰度
$neutral_00: #000000; // 100% 灰度
